head {
		font-size: xx-large;
}

h1 {
		text-align: center;
}

h2 {
		text-align: center;
		font-size: x-large;
}
		
body {
		background-color: tan;
		text-align: center;
		width: 1000px;
		margin: auto;
		 
}
#welcome {
		padding: 20px;
		border-style: groove;
		border-width: 7px;
		float: left;
		width: 230px;
		margin-left: 43px;
		margin-top: 40px;
}

.navigation {
		padding: 0px 20px 0px 20px;
		text-align: left;
		float: left;
		width: 130px;
		border-style: groove;
		border-width: 7px;
		margin-top: 40px;
		line-height: 15px; 
}

.sky {
		width: 1000px;
}

#bio {	
		padding: 20px;	
		border-style: groove;
		border-width: 7px;
		margin-right: 0px;
		margin-top: 40px;
		margin-left: 550px
}

#update {
		text-align: left;
		border-style: groove;
		border-width: 7px;
		margin-top: 50px;
}

#soon {
		text-align: left;	
		border-style: groove;
		border-width: 7px;
		margin-top: 35px;	
}